<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Редактирование пользователя</title>
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>Информация о пользователе</h1>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Выйти" />
</form>
<form th:action="@{/saveUser}" th:object="${user}">
  <input type="hidden" name="id" th:value="${user.getId()}">
  <table>
    <tr>
      <td><label for="lastName">Фамилия</label></td>
      <td>
        <input type="text" id="lastName" name="lastName" placeholder="Введите фамилию" th:value="${user.getLastName()}">
      </td>
      <td class="error">
        <ul>
          <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}" class="error" />
        </ul>
      </td>
    </tr>
    <tr>
      <td><label for="name">Имя</label></td>
      <td><input type="text" id="name" name="name" placeholder="Введите имя" th:value="${user.getName()}"></td>
      <td class="error">
        <ul>
          <li th:each="err : ${#fields.errors('name')}" th:text="${err}" class="error" />
        </ul>
      </td>
    </tr>
    <tr>
      <td><label for="age">Возраст</label></td>
      <td><input type="text" id="age" name="age" placeholder="Введите возраст" th:value="${user.getAge()}"></td>
      <td class="error">
        <ul>
          <li th:each="err : ${#fields.errors('age')}" th:text="${err}" class="error" />
        </ul>
      </td>
    </tr>
    <tr>
      <td><label for="username">Логин</label></td>
      <td><input type="text" id="username" name="username" placeholder="Введите логин" th:value="${user.getUsername()}"></td>
      <td class="error">
        <ul>
          <li th:each="err : ${#fields.errors('username')}" th:text="${err}" class="error" />
        </ul>
      </td>
    </tr>
    <tr>
      <td><label for="password">Пароль</label></td>
      <td><input type="password" id="password" name="password" placeholder="Введите пароль"></td>
      <td class="error">
        <ul>
          <li th:each="err : ${#fields.errors('password')}" th:text="${err}" class="error" />
        </ul>
      </td>
    </tr>
    <tr>
      <td><label for="roles">Роли</label></td>
      <td><input type="checkbox" id="roles" name="roles"
                 th:each="role : ${allRoles}"
                 th:text="${role.name}"
                 th:value="${role.id}"
                 th:field="*{roles}"
      ></td>
    </tr>
  </table>
  <br>
  <input type="submit" value="Применить"/>
</form>
</body>
</html>