<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Добавление пользователя</title>
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>Информация о пользователе</h1>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Выйти" />
</form>
<form action="saveUser">
  <input type="hidden" name="id" th:value="${user.getId()}">
  <table>
    <tr>
      <td><label for="lastName">Фамилия</label></td>
      <td><input type="text" id="lastName" name="lastName" placeholder="Введите фамилию" th:value="${user.getLastName()}"></td>
    </tr>
    <tr>
      <td><label for="name">Имя</label></td>
      <td><input type="text" id="name" name="name" placeholder="Введите имя" th:value="${user.getName()}"></td>
    </tr>
    <tr>
      <td><label for="age">Возраст</label></td>
      <td><input type="text" id="age" name="age" placeholder="Введите возраст" th:value="${user.getAge()}"></td>
    </tr>
    <tr>
      <td><label for="username">Логин</label></td>
      <td><input type="text" id="username" name="username" placeholder="Введите логин" th:value="${user.getUsername()}"></td>
    </tr>
    <tr>
      <td><label for="password">Пароль</label></td>
      <td><input type="password" id="password" name="password" placeholder="Введите пароль"></td>
    </tr>
  </table>
  <br>
  <input type="submit" value="Применить"/>
</form>
</body>
</html>