<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<H1>Пользователи</H1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти" />
</form>
<br>
<table>
    <tr>
        <th>ID</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Возраст</th>
        <th>Действия</th>
    </tr>
    <tr th:each="user : ${allUsers}">

        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td><a th:href="@{/updateUser(userId=${user.getId()})}">Изменить</a> | <a th:href="@{/deleteUser(userId=${user.getId()})}">Удалить</a></td>
    </tr>
</table>
<br>
<input type="button" value="Добавить" onclick="window.location.href = 'addUser'">

</body>
</html>