<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title th:text="${#authorization.expression('hasRole(''ADMIN'')')} ? 'Admin page' : 'User page'">Admin page</title>
</head>
<body>

<div class="container-fluid p-0 m-0">
    <div class="row pt-0 pb-0 m-0">
        <!-- Navbar -->
        <div class="col-md-12 p-0 m-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-0 pb-0">
                <span class="navbar-brand font-weight-bold mr-1" sec:authentication="name">admin@mail.ru</span>
                <span class="navbar-brand mr-1">with roles:</span>
                <span class="navbar-brand" sec:authentication="principal.authorities">ADMIN USER</span>
                <div class="collapse navbar-collapse pt-1 pb-1" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                    </ul>
                    <div class="navbar-text ">
                        <a class="text-white-50 p-0" th:href="@{/logout}">Logout</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row pt-0 pb-0 m-0 vh-100">
        <!-- Left menu -->
        <div class="col-2 pr-0 pl-0 pt-3 m-0">
            <div class="list-group" id="list-tab" role="tablist">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="list-group-item list-group-item-action border-0 active" id="list-admin-list" data-toggle="list" href="#list-admin" role="tab" aria-controls="admin">Admin</a>
                <a th:class="${#authorization.expression('hasRole(''ADMIN'')')} ? 'list-group-item list-group-item-action border-0' : 'list-group-item list-group-item-action border-0 active'"
                   id="list-user-list" data-toggle="list" href="#list-user" role="tab" aria-controls="user">User</a>
            </div>
        </div>
        <!-- Main -->
        <div class="col-10 bg-light p-4 m-0 h-100">
            <div class="tab-content" id="nav-tabContent">
                <!-- ADMIN -->
                <div sec:authorize="hasRole('ROLE_ADMIN')"
                     class="tab-pane fade show active"
                     id="list-admin" role="tabpanel" aria-labelledby="list-admin-list">
                    <H1>Admin panel</H1>
                    <div class="tabbable" id="tabs-972471">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active show" href="#tab1" data-toggle="tab">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tab2" data-toggle="tab">New User</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <!-- Users table -->
                            <div class="tab-pane active" id="tab1">
                                <div class="card">
                                    <div class="card-header">
                                        <b>All users</b>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th>
                                                <th scope="col">Age</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="user : ${allUsers}">
                                                <td th:text="${user.id}">2</td>
                                                <td th:text="${user.name}">Jacob</td>
                                                <td th:text="${user.lastName}">Thornton</td>
                                                <td th:text="${user.age}">32</td>
                                                <td th:text="${user.username}">thornton@gmail.com</td>
                                                <td th:text="${user.roles}">USER</td>
                                                <td>
                                                    <button type="button" class="btn btn-info" data-toggle="modal" th:data-target="'#edit-user-'+${user.id}">
                                                        Edit
                                                    </button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-danger" data-toggle="modal" th:data-target="'#delete-user-'+${user.id}">
                                                        Delete
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- New user -->
                            <div class="tab-pane" id="tab2">
                                <div class="card">
                                    <div class="card-header">
                                        <b>Add new user</b>
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="container-fluid p-0 m-0">
                                            <div class="row d-flex justify-content-center pt-0 pb-0 m-0">
                                                <div class="col-md-4 p-0 m-0">
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="input-first-name" class="mb-0"><b>First name</b></label>
                                                            <input type="text" class="form-control" id="input-first-name" placeholder="First name">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="input-last-name" class="mb-0"><b>Last name</b></label>
                                                            <input type="text" class="form-control" id="input-last-name" placeholder="Last name">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="input-age" class="mb-0"><b>Age</b></label>
                                                            <input type="number" class="form-control" id="input-age" placeholder="Age">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="input-email" class="mb-0"><b>Email</b></label>
                                                            <input type="email" class="form-control" id="input-email" placeholder="Email">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="input-password" class="mb-0"><b>Password</b></label>
                                                            <input type="password" class="form-control" id="input-password" placeholder="Password">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="select-roles" class="mb-0"><b>Role</b></label>
                                                            <select multiple class="form-control" size="2" style="height: 100%;" id="select-roles">
                                                                <option>ADMIN</option>
                                                                <option>USER</option>
                                                            </select>
                                                        </div>
                                                        <button type="submit" class="btn btn-success">Add new user</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- USER -->
                <div th:class="${#authorization.expression('hasRole(''ADMIN'')')} ? 'tab-pane fade' : 'tab-pane fade show active'"
                        id="list-user" role="tabpanel" aria-labelledby="list-user-list">
                    <H1>User information-page</H1>
                    <div class="card">
                        <div class="card-header">
                            <b>About user</b>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${currentUser.id}">1</td>
                                    <td th:text="${currentUser.name}">Mark</td>
                                    <td th:text="${currentUser.lastName}">Otto</td>
                                    <td th:text="${currentUser.age}">27</td>
                                    <td th:text="${currentUser.username}">mark@mail.ru</td>
                                    <td th:text="${currentUser.roles}">ADMIN USER</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete -->
<div th:each="user : ${allUsers}" class="modal fade" th:id="'delete-user-'+${user.id}" tabindex="-1" role="dialog" th:aria-labelledby="'delete-user-'+${user.id}+'-label'" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:id="'delete-user-'+${user.id}+'-label'">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="container-fluid p-0 m-0">
                    <div class="row d-flex justify-content-center pt-0 pb-0 m-0">
                        <div class="col-md-6 p-0 m-0">
                            <form>
                                <fieldset disabled>
                                    <div class="form-group">
                                        <label th:for="'delete-user-'+${user.id}+'-id'" class="mb-0"><b>ID</b></label>
                                        <input type="text" class="form-control" th:id="'delete-user-'+${user.id}+'-id'" th:placeholder="${user.id}">
                                    </div>
                                    <div class="form-group">
                                        <label th:for="'delete-user-'+${user.id}+'-name'" class="mb-0"><b>First name</b></label>
                                        <input type="text" class="form-control" th:id="'delete-user-'+${user.id}+'-name'" th:placeholder="${user.name}">
                                    </div>
                                    <div class="form-group">
                                        <label th:for="'delete-user-'+${user.id}+'-last-name'" class="mb-0"><b>Last name</b></label>
                                        <input type="text" class="form-control" th:id="'delete-user-'+${user.id}+'-last-name'" th:placeholder="${user.lastName}">
                                    </div>
                                    <div class="form-group">
                                        <label th:for="'delete-user-'+${user.id}+'-age'" class="mb-0"><b>Age</b></label>
                                        <input type="number" class="form-control" th:id="'delete-user-'+${user.id}+'-age'" th:placeholder="${user.age}">
                                    </div>
                                    <div class="form-group">
                                        <label th:for="'delete-user-'+${user.id}+'-email'" class="mb-0"><b>Email</b></label>
                                        <input type="email" class="form-control" th:id="'delete-user-'+${user.id}+'-email'" th:placeholder="${user.username}">
                                    </div>
                                    <div class="form-group">
                                        <label th:for="'delete-user-'+${user.id}+'-roles'" class="mb-0"><b>Role</b></label>
                                        <select multiple class="form-control" size="2" style="height: 100%;" th:id="'delete-user-'+${user.id}+'-roles'">
                                            <option>ADMIN</option>
                                            <option>USER</option>
                                        </select>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit -->
<div th:each="user : ${allUsers}" class="modal fade" th:id="'edit-user-'+${user.id}" tabindex="-1" role="dialog" th:aria-labelledby="'edit-user-'+${user.id}+'-label'" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:id="'edit-user-'+${user.id}+'-label'">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="container-fluid p-0 m-0">
                    <div class="row d-flex justify-content-center pt-0 pb-0 m-0">
                        <div class="col-md-6 p-0 m-0">
                            <form>
                                <fieldset>
                                    <div class="form-group">
                                        <label th:for="'edit-user-'+${user.id}+'-id'" class="mb-0"><b>ID</b></label>
                                        <input readonly type="text" class="form-control" th:id="'edit-user-'+${user.id}+'-id'" th:value="${user.id}" th:placeholder="ID">
                                    </div>
                                    <div class="form-group">
                                        <label th:for="'edit-user-'+${user.id}+'-name'" class="mb-0"><b>First name</b></label>
                                        <input type="text" class="form-control" th:id="'edit-user-'+${user.id}+'-name'" th:value="${user.name}" placeholder="First name">
                                    </div>
                                    <div class="form-group">
                                        <label th:for="'edit-user-'+${user.id}+'-last-name'" class="mb-0"><b>Last name</b></label>
                                        <input type="text" class="form-control" th:id="'edit-user-'+${user.id}+'-last-name'" th:value="${user.lastName}" placeholder="Last name">
                                    </div>
                                    <div class="form-group">
                                        <label th:for="'edit-user-'+${user.id}+'-age'" class="mb-0"><b>Age</b></label>
                                        <input type="number" class="form-control" th:id="'edit-user-'+${user.id}+'-age'" th:value="${user.age}" placeholder="Age">
                                    </div>
                                    <div class="form-group">
                                        <label th:for="'edit-user-'+${user.id}+'-email'" class="mb-0"><b>Email</b></label>
                                        <input type="email" class="form-control" th:id="'edit-user-'+${user.id}+'-email'" th:value="${user.username}" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <label th:for="'edit-user-'+${user.id}+'-password'" class="mb-0"><b>Password</b></label>
                                        <input type="password" class="form-control" th:id="'edit-user-'+${user.id}+'-password'" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <label th:for="'edit-user-'+${user.id}+'-roles'" class="mb-0"><b>Role</b></label>
                                        <select multiple class="form-control" size="2" style="height: 100%;" th:id="'edit-user-'+${user.id}+'-roles'">
                                            <option>ADMIN</option>
                                            <option>USER</option>
                                        </select>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>