<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<H1 th:text="'Пользователь ' + ${user.getUsername()}">Пользователь</H1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти" />
</form>
<br>
<table>
    <tr>
        <th>ID</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Возраст</th>
    </tr>
    <tr>
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getAge()}"></td>
    </tr>
</table>
</body>
</html>